*{
    margin: 0;
    box-sizing: border-box;
}

body{
    --body-coler: #BEBEBE;
    background-color: var(--body-coler);
    --body-mainBody:#D3D3D3;
    --button-main: #FFFAFA;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}



a{
    text-decoration: none;
    color: black;
}

.body{  /*top right bottom left */
    margin: 5% auto 5% auto;
    width: 70%;
    background-color: var(--body-mainBody);
    text-align: center;
    padding: 3%;
    border-radius: 5px;
}

.introduction{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
}

.body > form > label {
    font-weight: bold;
}

.divOptions{
    margin: 2% auto;
}
.divOptions > form > button{
    margin-bottom: 2%;
    width: 80%;
    font-weight: bold;
    background-color: var(--button-main);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.divOptions > form > button:hover{
    transition: 1.5s all;
    background-color: #DCDCDC;
    transform: scale(1.1)
}

.socialMedia > button{
    width: 30px;
    height: 30px;
}

.map{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
